body{
	background-color: white	;
	
	color: black;
	
	
}
h2 {
	color: black;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
	padding-left: 150px;
}
.info {
	font-size: 30px;
	width: 1331;
}